@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: "Poppins", sans-serif;
}

h3,
label,
a,
button,
li,
p {
  font-family: "Poppins", sans-serif;
  /* font-family: "Open sans", sans-serif; */
}
