@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url("https://use.typekit.net/hch8igg.css");

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
label,
a,
button,
li,
p {
  font-family: "Poppins", sans-serif;
}

pre,
code {
  font-family: droid-sans-mono, monospace;
  font-weight: 400;
  font-style: normal;
}
