@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800;900&family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
}

h1,
label {
    font-family: "Inter", sans-serif;
}

p,
a {
    font-family: "Roboto", sans-serif;
}
